---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

type Props = CollectionEntry<"posts">["data"] & { slug: string };

const props = Astro.props;

const publishedAt = props.publishedAt.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const updatedAt = props.updatedAt?.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const meta = {
  title: props.title,
  description: props.description,
  publishedAt: props.publishedAt,
  type: "article",
};
---

<script>
  document.querySelector('#scroll-to-top')?.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });
</script>

<Layout meta={meta}>
  <article
    class="prose prose-slate mt-8 prose-h2:border-l-4 prose-h2:border-gray-300 prose-h2:pl-2 sm:prose-h2:pl-3 dark:prose-invert dark:prose-h2:border-gray-700 dark:prose-p:text-gray-300 sm:prose-lg prose-h2:[text-wrap:balance] prose-h3:[text-wrap:balance] prose-code:break-words"
  >
    <small
      class="mb-2 block pl-6 text-xs font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-400 sm:text-sm"
      transition:name={`${props.slug}-date`} transition:animate="initial"
      >Published on {publishedAt}</small
    >
    <h1 class="border-l-4 border-brand pl-4 sm:pl-5 text-3xl sm:text-4xl [text-wrap:balance]" transition:name={props.slug} transition:animate="initial">
      {props.title}
    </h1>
    <div class="mt-8 sm:mt-12">
      {updatedAt && <p class="text-[0.9em]"><em>This post was last updated on {updatedAt}</em></p>}
      <slot />
    </div>
  </article>
  <button type="button" aria-label="Go to top" id="scroll-to-top" class="sticky bottom-10 left-full translate-x-16 w-10 h-10 rounded-full dark:bg-gray-800 dark:hover:bg-gray-700 z-10 text-white [[data-is-top='true']_&]:opacity-0 opacity-100 transition hidden sm:inline-block">&uarr;</button>
</Layout>
